.App {
  display: flex;
  flex-direction: column;
}

.Game {
  display: flex;
  flex-wrap: wrap;
}

.chess-container, .chat-container {
  margin: 10px;
}

.chat-container {
  height: 400px;
  width: 400px;
}

.chess-config-container {
  display: flex;
}

.config-input, .chat-input {
  margin: 5px;
  flex: 1;
}

.messages-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.lobby-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
}

.game-saved-entry {
  margin: 15px;
}

.player-form {
  display: flex;
  margin: 15px;
}

.player-input {
  margin: 5px;
}
