.App {
  display: flex;
}

.Game {
  display: flex;
  flex-wrap: wrap;
}

.chess-container, .chat-container {
  margin: 10px;
}

.chat-container {
  height: 400px;
  width: 400px;
}

.messages-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.lobby-container {
  display: flex;
  flex-wrap: wrap;
}
.game-saved-entry {
  margin: 15px;
}
